body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0px;
}

p {
    margin: 0px;
}

header>h3 {
    margin: 0px;
    font-size: 24px;
    color: #F9FAF8;
}

.hero_text h1 {
    font-size: 58px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero_text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero_text *:not(button) {
    margin: 0px;
}

.strawberry_pic {
    width: 650px;
    object-fit: cover;
    height: 300px;
}

.hero_text button {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #3882f6;
    border-style: none;
    color: #F9FAF8;
}


.header-and-hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header {
    display: flex;
    margin: 20px 300px;
    justify-content: space-between;
    align-items: center;
}
header>div {
    display: flex;
    gap: 20px;
}

header a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    display: flex;
    margin: 100px 300px;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.card_text {
    text-align: center;
    margin-bottom: 50px;
}

.actual_cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.blue_card {
    width: 180px;
    height: 180px;
    border: solid #3882f6;
    border-radius: 10px;
}

.actual_cards>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.actual_cards p {
    margin-top: 10px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    font-family: 'Brygada 1918';
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 150px 650px;
}

.the-actual-quote {
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 20px;
    padding-right: 70px;
    font-size: 20px;
}

.sign-up-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 300px;
    padding: 70px 200px;
    background-color: #3882f6;
    border-radius: 10px;
}

.sign-up-box button {
    background-color: #ffffff00;
    color: #F9FAF8;
    border: solid #F9FAF8;
    border-width: 3px;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-weight: bold;
}

.weight {
    font-size: 30px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-up-box button, .fun {
    font-size: 20px
}

.fun {
    color: #e5e7eb;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}